nav{
    width: 100%;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
li:hover{
    color: aqua;
}
